/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
	resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

.navbar-dark .navbar-brand{
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	color:#D9F0FF;
}
#navbarNavDropdown ul li{
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	letter-spacing: 3px;
	margin-top: 15px;
}


h1.main-title{
	font-size: 100px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
p.lead{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	opacity: 0.7;
}
.general-parragraph{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #7f7f7f;
}
.custom-btn {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14px;
	padding: 25px 20px;
	width: 100%;
	max-width: 300px;
	letter-spacing: 5px;
	border-radius: 50px;
	background-color: #3357ff;
	color: white;
	display: block;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

a.custom-btn:after {
	content: '';
	display: block;
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	
}
a.custom-btn:hover:after {
	transform: translate(0, 5px);
}

.custom-btn:hover {
	background-color: #2042df;
	text-decoration: none;
	color:white;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	transform: translate(0, -5px);
}

.btn-center{
	margin:auto;
}

.h1{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 50px;
	line-height: 1.2;
}
.mt-45, .my-45 {
	margin-top: 2.8rem!important;
}
.h3{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 35px;
}
.card{
	padding: 68px 52px 40px;
	margin-bottom: 3rem;
}
.card h4{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.row{
	margin-left:auto;
	margin-right:auto;
}

#banner{
	background-image: url('../img/image2-orig.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	height: 100vh;
	min-height: 640px;
	display: flex;
	align-items:center;
}
section.two-equal-columns{
	max-width: 1280px; 
	width:100%;
	margin: auto;
}
.custom-pad{
	padding:95px;
}
.side-image{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#side-1{
	background-image: url('../img/image4.jpg');
}

.row.display-flex {
	display: flex;
	flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.rounded-icon {
	padding: 28px;
	background-color: #3357ff;
	margin: auto;
	max-width: 88px;
	border-radius: 50%;
}
.bg-section{
	background-image: url('../img/image5-v2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 75vh;
	min-height:480px;
	display: flex;
	align-items:center;
}
#side-2{
	background-image: url('../img/image6.jpg');
}

#side-3{
	background-image: url('../img/image3.jpg');
}

#side-4{
	background-image: url('../img/image1.jpg');
}

.bg-main{
	background-color: #3357ff;
}
footer h2{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color:#9fb0ff;
}
h1,h2,h3,h4,p{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.2;
}
#navbar,#navbar *{
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

#navbar.sticky{
	background-color:#3357ff;
}

#navbar.sticky .mt-4{
	margin-top:0 !important;
}

#navbar.sticky #navbarNavDropdown ul li{
	margin-top:0 !important;
}



@media(max-width:991px){
	.custom-pad{
		padding: 0 20px !important
	}
	
	.side-image{
		min-height: 400px;
	}
	#navbar{
		background-color:#3357ff;
	}
	
	#navbar .mt-4{
		margin-top:0 !important;
	}
	
	#navbar #navbarNavDropdown ul li{
		margin-top:0 !important;
	}
	a.nav-link {
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 14px;
	}
	
	ul.navbar-nav.ml-auto {
		margin-top: 15px;
		margin-bottom:15px
	}
	.container {
		max-width: 94%;
	}
	section.two-equal-columns .custom-pad{
		max-width: 94%;
		margin:auto;
	}
	h1,h2,h3,h4,.h1,.h2,.h3{
		line-height: 1;
	}
}
@media(min-width:992px){
	.navbar-expand-lg .navbar-nav .nav-link{
		padding-left: 15px;
		padding-right: 15px;
	}
	
}
@media (min-width: 768px){
	.card {
		padding: 40px 20px 30px;
	}
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
	display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
	visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
https://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster */
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	/*
	* Don't show links that are fragment identifiers,
	* or use the `javascript:` pseudo protocol
	*/
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}
	pre {
		white-space: pre-wrap !important;
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	/*
	* Printing Tables:
	* https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
	*/
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}

